* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
  --color-one: #009444;
  /* #88498F; */
  --color-two: #fbad17;
  /* #779FA1; */
  --color-three: #aa57a8;
  /* #E0CBA8;   */
  --color-four: #69995d;
  /* #EE964B;#FF6542;  */
  --color-five: #f8e9e9;
  /* #564154; */
  --heading-font: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --body-font: "Lora", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.button {
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: var(--heading-font);
  font-size: 1.2rem;
  line-height: 20px;
  list-style: none;
  margin: 10px auto;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  border: none;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.box {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid black;
}

.icons {
  height: 1.8rem;
  width: 1.8rem;
  color: var(--color-two);
  text-align: center;
  margin: 1rem;
}

/* General spacing classes */

.flexbox-center-col {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.flexbox-row {
  display: flex;
  flex-direction: row;
  justify-items: center;
}

/* Tablet screen and above */
@media screen and (min-width: 768px) {
  body {
    width: 80%;
    margin: 0 auto;
  }
}
